body {
  background: #e9ecef;
}

.todo-template {
  width: 1800px;
  height: 1200px;

  position: relative;
  background: white;
  border-radius: 16px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.04);

  margin: 0 auto;

  margin-top: 96px;
  margin-bottom: 32px;
  flex-direction: column;

  overflow: hidden;
}

.todo-menu-set {
  width: 300px;
  height: 1200px;
  background-color: whitesmoke;
  padding: 20px;
  float: left;
}
.todo-menu-set input {
  width: 300px;
  height: 40px;
}
.todo-info-set {
  width: 1400px;
  height: 1000px;
  background-color: white;
  padding: 20px;
  float: left;
}

.todo-list {
  height: 1000px;
  background-color: thistle;
}

.day {
  color: #868e96;
  font-size: 20px;
}

.tasks {
  color: #20c997;
  font-size: 20px;
  font-weight: bold;
}

.item {
  font-size: 50px;
  width: 80%;
  background-color: chocolate;
  margin: 30px;
  display: inline-block;
}

.create-todo {
  text-align: center;
  width: 1400px;
  height: 500px;
  padding: 20px;
  margin: 10px;
  float: left;
  background-color: blueviolet;
}

.todo-input {
  font-size: 30px;
  width: 70%;
  height: 80px;
  border: 2px solid black;
}
.todo-remove {
  font-size: 20px;
}

.check-box {
  width: 100px;
  height: 30px;
}

.input-button {
  font-size: 20px;
  margin-left: 30px;
}
